:root {
  --color-sushi: #98be49;
  --color-veniceBlue: #06527e;
  --color-astronaut: #224070;
  --color-blueZodiac: #15325b;
  --color-blueZodiac-65: #15325ba6;
  --color-jade: #00b56e;
  --color-codGray: #121212;
  --color-silver: #bfbfbf;
  --color-silver-35: #bfbfbf59;
  --color-silverChalice: #a4a4a4;
  --color-silverChalice-42: #a4a4a46b;
  --color-doveGray: #6a6a6a;
  --color-doveGray2: #676767;
  --color-cerulean: #00bce8;
  --color-alabaster: #f7f7f7;
  --color-alabaster2: #fafafa;
  --color-wildSand: #f4f4f4;
  --color-red: #ff0000;
  --color-alto: #d1d1d1;
  --color-mercury: #e5e5e5;
  --color-mariner: #2466c5;
  --color-mineShaft: #313131;
  --color-mineShaft-3: #31313108;
  --color-tarawera: #073f5f;
  --color-tarawera2: #073048;
  --color-cadetBlue: #a4bac6;
  --color-ripeLemon: #efd40b;
  --color-crimson: #ed1c24;
  --color-concrete: #f2f2f2;
  --color-athensGray: #edeef4;
  --color-pumpkin: #ff8319;
  --color-manatee: #87859c;
  --color-white: #ffffff;
  --color-white-90: #ffffffe6;
  --color-black-6: #0000000f;
  --color-black-14: #00000024;
  --color-transparent: #ffffff00;
  --color-stormGray: #717185;
  --color-shiraz: #ab0634;
  --color-buddhaGold: #c9a408;
  --color-lavenderPurple: #8d7ea8;
  --color-fiord: #3f4168;
  --color-horizon: #5a8197;
  --color-royalBlue: #2680eb;
  --color-gray: #939393;
  --color-F4504A: #f4504a;
  --color-0083A2: #0083a2;
  --color-005E74: #005e74;
  --color-3273AD: #3273ad;
  --color-E9EEF7: #E9EEF7;
  --color-E3F3F9: #E3F3F9;
  --color-4FB3DA: #4FB3DA;
  --color-bg-F55046: rgba(245, 80, 70, 0.1);
  --color-F55046: rgba(245, 80, 70, 1);
  --color-2A2F36: #2A2F36;
  --color-727C8A: #727C8A;
  --color-black: #000000;
  --color-F55046: #F55046;
  --color-F4F7FB: #F4F7FB;
  --color-009CC1: #009CC1;
  --color-F3F7FC: #F3F7FC;
  --color-575757: #575757;
  --color-E6F8FD: #E6F8FD;
  --color-EDEDED: #EDEDED;
  --color-9EBC30: #9EBC30;
  --color-bg-9EBC30: rgba(158, 188, 48, 0.1);
  --color-F1A53B: #F1A53B;
  --color-bg-F1A53B: rgba(241, 165, 59, 0.1);
  --color-bg-004E7B: #004E7B;
  --color-bg-686868: #686868;
  --color-bg-7A7A7A: #7A7A7A;
  --color-bg-B6B6B6: #B6B6B6;
  --color-bg-E9EEF6: #E9EEF6;
  --color-bg-F6635B: #F6635B;
  --color-bg-333333: #333333;
  --color-bg-A3BAC7: #A3BAC7;
  --color-bg-EDFCFF: #EDFCFF;
  --color-3A3B56: #3A3B56;
  --color-101820: #101820;
  --color-65B331: #65B331;
  --color-FFD957: #FFD957;
  --color-E03B3B: #E03B3B;
  --color-03B4CE: #03B4CE;
  --color-00C2DA: #00C2DA;
}
